{% extends "base.html" %}

{% block content %}
    <h1 class="uk-text-center">Played on: {{ match.date_played }}</h1>
    <div class="uk-article-divider"></div>
    <div class="uk-grid">
        <div class="uk-width-1-2">
            <h2>Winner: {{ match.won }}</h2>

            <h3>Games won: {{ match.games_won }}</h3>
        </div>
        <div class="uk-width-1-2">
            <h2>Opponent: {{ match.lost }}</h2>

            <h3>Games won: {{ match.games_lost }}</h3>
        </div>
    </div>
{% endblock %}
