{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="uk-grid">
        <div class="uk-width-1-1">
            <div class="uk-container uk-container-center">
                <div class="uk-panel uk-panel-box">
                    <p class="uk-text-center">
                        Are you a new player? Just enter your name here and you're done.<br/>
                        You will be unranked until you have won your first match, so there is no pressure. :)
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-grid">
        <div class="uk-width-medium-1-1">
            <form class="uk-form uk-form-horizontal uk-width-1-2 uk-container-center" action="" method="post">{% csrf_token %}
                {% if form.non_field_errors %}
                    <div class="uk-alert uk-alert-danger" data-uk-alert>
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}
                {% for field in form %}
                    {% include "includes/_form_fields.html" %}
                {% endfor %}
                <div class="uk-form-row">
                <input class="uk-button" type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
{% endblock %}
