{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="uk-grid">
        <div class="uk-width-medium-1-1">
            <form class="uk-form uk-form-horizontal uk-width-1-2 uk-container-center" action=""
                  method="post">{% csrf_token %}
                {% if form.non_field_errors %}
                    <div class="uk-alert uk-alert-danger" data-uk-alert>
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}
                {% for field in form %}
                    {# TODO: style this. #}
                    {{ field }}
                {% endfor %}
                <div class="uk-form-row">
                    <input class="uk-button" type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
{% endblock %}
